@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

::selection {
  @apply bg-primary-500/70 text-white;
}

.prose pre {
  @apply bg-slate-900 text-slate-100 rounded-lg;
}
